.App {
  text-align: center;
}
h1 {
  font-family: 'Fira Code', monospace;
  font-size: 40px;
  margin: 0; 
}
h2 {
  margin: 5px; 
}
p {
  text-align: left;
  margin: 0;
  height: 50px; 
  padding-top: 5px; 
  padding-left: 10px; 
}
.welcome-line {
  line-height: 80px;
  margin-left: 400px;
  margin: auto;
  width: 160px;
}
.description-line-heading {
  line-height: 20px;
  text-align: center;
  width: 60%;
  margin: auto;
}
.main-box {
  margin: 0;
  height: 200px; 
  letter-spacing: 4px; 
  border-bottom: 4px solid black; 
  background-image: url("./vippng.com-small-plant-png-234720.png");
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: 80vw;
}
.main-create-box {
  border-bottom: 4px solid black; 
  height: 75px; 
  line-height: 75px;
}
.articles-display {
  padding-top: 30px;
  border-top: 4px solid rgba(79,179,179,1);
  display: flex;
  flex-direction: row;
}
.article-list-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.both-drop-down-menu {
  display: flex;
  flex-direction: column;
}
.displaySelection {
  width: 300px; 
  background-image: linear-gradient(to right, rgb(130, 184, 168) , rgb(79, 179, 179));  
  margin: 30px; 
  height: 30px; 
  font-size: 16px;
  font-family: 'Heebo', sans-serif;
  font-weight: bold;
  color: white; 
}
.create-new-button {
  width: 50px; 
  background-image: linear-gradient(to right, rgb(130, 184, 168) , rgb(79, 179, 179));  
  margin: 30px; 
  height: 50px; 
  font-size: 30px;
  font-family: 'Heebo', sans-serif;
  font-weight: bold;
  color: white; 
  border-radius: 4px;
}
.individual-article-in-the-list { 
  height: 150px; 
  width: 400px; 
  /* border: 3px solid black; */
  box-shadow: 5px 8px 2px 1px rgb(91, 189, 189, 0.5);
  margin: 20px;
  border-radius: 10px;
}
.description-in-the-individual-article-list {
  box-shadow: 0px -24px 3px -24px rgb(79, 179, 179);  
  font-size: 14px;
  font-family: 'Heebo', sans-serif; 
  text-overflow: ellipsis;
  width: 400px; 
}
.create-new-form-div {
  margin: auto;
  position: absolute;
  top: 0; 
  left: 0;
  bottom: 0; 
  right: 0;
  border: 3px solid rgb(82, 90, 90);
  border-radius: 4%;
  width: 400px; 
  height: 600px;
  -webkit-box-shadow: 3px 5px 5px 0px rgba(79,179,179,1);
  -moz-box-shadow: 3px 5px 5px 0px rgba(79,179,179,1);
  box-shadow: 3px 5px 5px 0px rgba(79,179,179,1);
}
input, select {
  width: 380px; 
  height: 30px;
  line-height: 40px;
  font-size: 16px;
  font-family: 'Heebo', sans-serif;
}
.form-p {
  font-size: 16px;
  font-family: 'Heebo', sans-serif;
  font-weight: bold;
  line-height: 60px;
  padding-left: 10px; 
  text-align: left;
}
.createDisplaySelection {
  background-image: linear-gradient(to right, rgb(130, 184, 168) , rgb(79, 179, 179));  
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  font-family: 'Heebo', sans-serif;
  width: 380px;
  border-radius: 8px;
}
.navLink {
  text-decoration: none;
  color: rgba(79,179,179,1);
  font-size: 14px;
  font-family: 'Heebo', sans-serif;
  margin: 0;
}
.description-box {
  overflow-wrap: break-word;
	word-wrap: break-word;
}
.description-in-single-article {
  height: 250px; 
}
.links-to-article-on-single-page {
  height: 50px; 
  margin: 20px; 
  text-decoration: none;  
}





