.App {
  text-align: center;
}
h1 {
  font-family: 'Fira Code', monospace;
  font-size: 40px;
  margin: 0; 
}
p {
  text-align: left;
  margin: 0;
  height: 50px; 
}
.welcome-line {
  line-height: 80px;
  margin-left: 400px;
}
.description-line-heading {
  line-height: 20px;
  text-align: center;
}
.main-box {
  margin: 0;
  height: 200px; 
  letter-spacing: 4px; 
  border-bottom: 3px solid black; 
  background-image: url("./succulent2.png");
  background-repeat: no-repeat;
  background-position: 140vh;
  background-size: 400px;
}
.articles-display {
  border-top: 3px dotted green;
  display: flex;
  flex-direction: row;
}
.article-list-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.both-drop-down-menu {
  display: flex;
  flex-direction: column;
}
.displaySelection, .create-new-button {
  width: 300px; 
  background-image: linear-gradient(to right, teal , green);  
  margin: 30px; 
  height: 30px; 
  font-size: 16px;
  font-family: 'Heebo', sans-serif;
  font-weight: bold;
  color: white; 
}
.individual-article-in-the-list { 
  height: 200px; 
  width: 200px; 
  border: 3px solid black;
  margin: 20px;
  border-radius: 4%;
}

